.web-site body{
    font-family: sans-serif;
    font-size: 15px;
}
.web-site .neden{
    background-image:url("images/background.png");
    background-size: cover;
    background-size: 100%;
}
.web-site .row{
    display: flex;
    flex-wrap: wrap;
}
.web-site .elips{
    color: #FC7B0A;
}
.web-site ul{
    list-style-type: circle;
}
.web-site ul li{
    padding-bottom: 15px;
}
.web-site .text h1{
    padding-bottom: 30px;
}
.web-site .text h4{
    padding-bottom: 5px;
}
.web-site .big-img{
    margin-top: 40px;
}
.web-site .inside{
    display: flex;
    align-items: center;
}
.web-site .link{
    background: #ff7b07;
    color: #ffffff;
    max-height: 60px;
    max-width: 230px;
    padding-top: 20px;
    padding-right:20px;
    padding-bottom: 30px;
    padding-left: 20px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
    cursor: pointer; 
    font-weight: bold;
}
.Ok-img{
    margin-left: 90px;
}
